button {
    display: inline-block;
    background-color: cyan;
    border-radius: 3px;
    padding: 7px 12px;
    border: 1px solid #2f2828;
    background-image: linear-gradient(#EEE, #DDD);
    font: 700 13px/18px Helvetica, arial;
}

p {
    font-family: Helvetica, arial, serif;
}